 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body {
    

    overflow-x: hidden;
    display: grid;
    place-items: center;
  
  } */
  
  
  .form-container{
  margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height:100vh;
    border-radius: 20px;
    box-shadow: 0 4px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .form-container h1{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
  }
  .form-container input{
    margin-top: 20px;
    margin-bottom: 10px;  margin-bottom: 10px;
    border: none;
    margin: auto;
     cursor: pointer;
    outline: none;
    border-radius: 15px;
     padding: 5px 10px;
    font-size: larger;
    background-color: rgba(83, 83, 83, 0.5);
  }
  .form-container button{
    margin-top: 10px;
    border: none;
    width: 50%;
    margin: auto;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: larger;
    font-weight:900;
    background-color: rgba(252, 67, 0, 0.84);
  
  } 
  #home{
 
  text-align: center;
  align-items: center;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  }